* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

h1 {
  font-size: 2.8rem;
  float: left;
}

h2 {
  font-size: 3.6rem;
  padding: 5rem 0rem;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2.8rem;
}

h3 {
  font-size: 2.8rem;
}

button {
  font-size: 1.8rem;
}

nav {
  background: rgb(56, 81, 102);
  color: white;
  padding: 1rem;
  width: 100%;
  position: fixed;
}

nav h1 {
  float: left;
}

nav ul {
  float: right;
  list-style: none;
}

nav li {
  float: left;
  margin: 0rem 4rem;
}

.hero-section {
  background-image: url("/table2.jpeg");
  height: 60rem;
  background-size: cover;
  background-position: center;
  text-align: center;
  text-shadow: 3px 3px 6px black;
  padding-top: 12rem;
}

.hero-section button {
  margin-top: 4rem;
  padding: 1rem 4rem;
  background: rgb(56, 81, 102);
  cursor: pointer;
}

.form-section {
  text-align: center;
}

.form-section header h2 {
  padding: 1rem;
}

form input,
form label,
form textarea {
  display: block;
  font-size: 1.5rem;
}

form input,
form textarea {
  margin: 1rem auto;
  width: 50%;
}

form button {
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgb(56, 81, 102);
  cursor: pointer;
  width: 50%;
}
